In [ ]:
# Alumno: Menodoza Benito Sergio
# Carrera: Ingenieria de Sistemas
# Grupo: 1

# ejemplos de listas o diccionarios del how-to-code-in-python

In [2]:
sea_creatures = ['shark','cuttlefish', 'squid', 'mantis ship', 'anemone']
print(sea_creatures)

['shark', 'cuttlefish', 'squid', 'mantis ship', 'anemone']

In [3]:
print(sea_creatures[1])

cuttlefish

In [7]:
print(sea_creatures[-3])

squid

In [8]:
print('Sammy is a '+sea_creatures[0])

Sammy is a shark

In [10]:
sea_creatures[1] = 'octopus'
print(sea_creatures)

['shark', 'octopus', 'squid', 'mantis ship', 'anemone']

In [11]:
print(sea_creatures[1:4])

['octopus', 'squid', 'mantis ship']

In [12]:
print(sea_creatures[:3])

['shark', 'octopus', 'squid']

In [13]:
print(sea_creatures[2:])

['squid', 'mantis ship', 'anemone']

In [15]:
print(sea_creatures[-4:-2])
print(sea_creatures[-3:])

['octopus', 'squid']
['squid', 'mantis ship', 'anemone']

In [16]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(numbers[1:11:2])

[1, 3, 5, 7, 9]

In [17]:
print(numbers[::3])

[0, 3, 6, 9, 12]

In [18]:
sea_creatures = ['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone']
oceans = ['Pacific', 'Atlantic', 'Indian', 'Southern','Arctic']
print(sea_creatures + oceans)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic']

In [19]:
sea_creatures = sea_creatures + ['yeti crab']
print (sea_creatures)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']

In [20]:
print(sea_creatures * 2)
print(oceans * 3)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']
['Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic', 'Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic', 'Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic']

In [21]:
for x in range(1,4):
    sea_creatures += ['fish']
    print(sea_creatures)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'fish']
['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'fish', 'fish']
['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'fish', 'fish', 'fish']

In [50]:
sharks = ['shark']
def new_func(sharks):
    sharks *= 2
    print(sharks)

for x in range(1,4):
    new_func(sharks)

['shark', 'shark']
['shark', 'shark', 'shark', 'shark']
['shark', 'shark', 'shark', 'shark', 'shark', 'shark', 'shark', 'shark']

In [24]:
sea_creatures =['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']
del sea_creatures[1]
print(sea_creatures)

['shark', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']

In [25]:
sea_creatures =['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']
del sea_creatures[1:4]
print(sea_creatures)

['shark', 'anemone', 'yeti crab']

In [26]:
sea_names = [['shark', 'octopus', 'squid', 'mantis shrimp'],['Sammy', 'Jesse', 'Drew', 'Jamie']]
print(sea_names[1][0])
print(sea_names[0][0])

Sammy
shark

In [27]:
sea_names[0][0] = 'shark'
sea_names[0][1] = 'octopus'
sea_names[0][2] = 'squid'
sea_names[0][3] = 'mantis shrimp'
sea_names[1][0] = 'Sammy'
sea_names[1][1] = 'Jesse'
sea_names[1][2] = 'Drew'
sea_names[1][3] = 'Jamie'

Metodos de las listas

In [28]:
fish = ['barracuda','cod','devil ray','eel']
fish.append('flounder')
print(fish)

['barracuda', 'cod', 'devil ray', 'eel', 'flounder']

In [29]:
fish.insert(0,'anchovy')
print(fish)

['anchovy', 'barracuda', 'cod', 'devil ray', 'eel', 'flounder']

In [30]:
more_fish = ['goby','herring','ide','kissing gourami']
fish.extend(more_fish)
print(fish)

['anchovy', 'barracuda', 'cod', 'devil ray', 'eel', 'flounder', 'goby', 'herring', 'ide', 'kissing gourami']

In [31]:
fish.remove('kissing gourami')
print(fish)

['anchovy', 'barracuda', 'cod', 'devil ray', 'eel', 'flounder', 'goby', 'herring', 'ide']

In [32]:
print(fish.pop(3))
print(fish)

devil ray
['anchovy', 'barracuda', 'cod', 'eel', 'flounder', 'goby', 'herring', 'ide']

In [33]:
print(fish)
print(fish.index('herring'))

['anchovy', 'barracuda', 'cod', 'eel', 'flounder', 'goby', 'herring', 'ide']
6

In [34]:
fish_2 = fish.copy()
print(fish_2)

['anchovy', 'barracuda', 'cod', 'eel', 'flounder', 'goby', 'herring', 'ide']

In [35]:
fish.reverse()
print(fish)

['ide', 'herring', 'goby', 'flounder', 'eel', 'cod', 'barracuda', 'anchovy']

In [36]:
print(fish.count('goby'))

1

In [37]:
fish_ages = [1,2,4,3,2,1,1,2]
print(fish_ages.count(1))

3

In [38]:
fish_ages.sort()
print(fish_ages)

[1, 1, 1, 2, 2, 2, 3, 4]

In [39]:
fish.clear()
print(fish)

[]

Understanding List Comprehensions

In [40]:
shark_letters = [letter for letter in 'shark']
print(shark_letters)

['s', 'h', 'a', 'r', 'k']

In [41]:
shark_letters = []
for letter in 'shark':
    shark_letters.append(letter)
print(shark_letters)

['s', 'h', 'a', 'r', 'k']

In [42]:
fish_tuple = ('blowfish', 'clownfish', 'catfish', 'octopus')
fish_list = [fish for fish in fish_tuple if fish != 'octopus']
print(fish_list)

['blowfish', 'clownfish', 'catfish']

In [43]:
number_list = [x ** 2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [44]:
number_list = [x for x in range(10)]
print(number_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
number_list = [x for x in range(10) if x % 2 == 0]
print(number_list)

[0, 2, 4, 6, 8]

In [46]:
number_list = [x ** 2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [47]:
number_list = [x for x in range(100) if x % 3 == 0 if x % 5 == 0]
print(number_list)

[0, 15, 30, 45, 60, 75, 90]

In [48]:
my_list = []
for x in [20, 40, 60]:
    for y in [2, 4, 6]:
        my_list.append(x * y)
print(my_list)

[40, 80, 120, 80, 160, 240, 120, 240, 360]

In [49]:
my_list = [x * y for x in [20, 40, 60] for y in [2, 4, 6]]
print(my_list)

[40, 80, 120, 80, 160, 240, 120, 240, 360]