In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('laptop_price.csv', encoding = 'latin-1')

In [8]:
Company = list(data.Company.unique())
Product = list(data.Product.unique())
TypeName = list(data.TypeName.unique())
ScreenResolution = list(data.ScreenResolution.unique())
Cpu = list(data.Cpu.unique())
Ram = list(data.Ram.unique())
Memory = list(data.Memory.unique())
Gpu = list(data.Gpu.unique())
OpSys = list(data.OpSys.unique())
Weight = list(data.Weight.unique())

In [9]:
Company_id = dict(zip(Company,[i for i in range(len(Company))]))
Product_id = dict(zip(Product,[i for i in range(len(Product))]))
TypeName_id = dict(zip(TypeName,[i for i in range(len(TypeName))]))
ScreenResolution_id = dict(zip(ScreenResolution,[i for i in range(len(ScreenResolution))]))
Cpu_id = dict(zip(Cpu,[i for i in range(len(Cpu))]))
Ram_id = dict(zip(Ram,[i for i in range(len(Ram))]))
Memory_id = dict(zip(Memory,[i for i in range(len(Memory))]))
Gpu_id = dict(zip(Gpu,[i for i in range(len(Gpu))]))
OpSys_id = dict(zip(OpSys,[i for i in range(len(OpSys))]))
Weight_id = dict(zip(Weight,[i for i in range(len(Weight))]))

In [10]:
x = pd.DataFrame()

x['Company'] = data['Company'].map(Company_id)
x['Product'] = data['Product'].map(Product_id)
x['TypeName'] = data['TypeName'].map(TypeName_id)
x['Inches'] = data.Inches
x['ScreenResolution'] = data['ScreenResolution'].map(ScreenResolution_id)
x['Cpu'] = data['Cpu'].map(Cpu_id)
x['Ram'] = data['Ram'].map(Ram_id)
x['Memory'] = data['Memory'].map(Memory_id)
x['Gpu'] = data['Gpu'].map(Gpu_id)
x['OpSys'] = data['OpSys'].map(OpSys_id)
x['Weight'] = data['Weight'].map(Weight_id)
x['Price_euros'] = data.Price_euros

x.to_csv("laptop_price_adapted.csv",index=False)
x.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,0,0,0,13.3,0,0,0,0,0,0,0,1339.69
1,0,1,0,13.3,1,1,0,1,1,0,1,898.94
2,1,2,1,15.6,2,2,0,2,2,1,2,575.00
3,0,0,0,15.4,3,3,1,3,3,0,3,2537.45
4,0,0,0,13.3,0,4,0,2,4,0,0,1803.60